{% include "partials/header.liquid" %}

<h2>New Event</h2>
<div class="card">
    <div class="card-body">
        <form method="POST">

            <div class="input-group mb-3">
                <label class="input-group-text" for="name">Event Name:
                </label>
                <input
                        type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="Debating"
                        required>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text" for="date">Start Time:
                </label>
                <input
                        type="datetime-local"
                        id="date"
                        name="date"
                        class="form-control"
                        required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="location">Location:
                </label>
                <input
                        type="text"
                        id="location"
                        name="location"
                        class="form-control"
                        placeholder="D2"
                        required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="teacher">Teacher:
                </label>
                <input
                        type="text"
                        id="teacher"
                        name="teacher"
                        class="form-control"
                        placeholder="JLBT"
                        required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="info">Other Information:
                </label>
                <input
                        type="text"
                        id="info"
                        name="info"
                        class="form-control"
                        placeholder="Theme: SCAN">
            </div>

            <input type="hidden" name="is_locked" value="false">

            <button type="submit" class="btn btn-primary">Add new Event.</button>
        </form>
    </div>
</div>


{% include "partials/footer.liquid" %}