{% include "partials/header.liquid" %}

{% unless is_authing_user %}
  <h2>Welcome to Add Password!</h2>

  <p>You should now check your emails for a code and a link which will take you back here.</p>
{% else %}
  <h2>
    Welcome {{ person.first_name }} {{ person.surname }}! Please enter your new password.
  </h2>

  <div class="card">
    <div class="card-body">
      <form method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text" id="unhashed_password">Password (if new, then ignore)</span>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="unhashed_password"
            name="unhashed_password">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="password_link_id_label">Unique code</span>
          <input
            type="number"
            class="form-control"
            placeholder="12345"
            aria-label="Verification Code"
            aria-describedby="password_link_id_label"
            name="password_link_id">
        </div>

        <input
          type="hidden"
          name="id"
          ,
          value="{{person.id}}">

        <div class="mb-3">
          <div class="cf-turnstile" data-sitekey="{{cft_sitekey}}"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit!</button>
      </form>

    </div>
  </div>
{% endunless %}



{% include "partials/footer.liquid" %}
