{% include "partials/header.liquid" %}

<h2>New Event</h2>
<div class="card">
  <div class="card-body">
    <form method="POST">

      <div class="input-group mb-3">
        <span class="input-group-text" id="name">Event Name:
        </span>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="Debating"
          required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="date">Start Time:
        </span>
        <input
          type="datetime-local"
          id="date"
          name="date"
          class="form-control"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="location">Location:
        </span>
        <input
          type="text"
          id="location"
          name="location"
          class="form-control"
          placeholder="D2"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="teacher">Teacher:
        </span>
        <input
          type="text"
          id="teacher"
          name="teacher"
          class="form-control"
          placeholder="JLBT"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="info">Other Information:
        </span>
        <input
          type="textarea"
          id="info"
          name="info"
          class="form-control"
          placeholder="Kingsley Theme: SCAN">
      </div>

      <button type="submit" class="btn btn-primary">Add new Event.</button>
    </form>
  </div>
</div>


{% include "partials/footer.liquid" %}