{% include "partials/header.liquid" %}

<h2>Add New User</h2>

<div class="card">
  <div class="card-body">
    <form action="/add_new_user" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="username">Username</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="username"
          name="username"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="unhashed_password">Password</span>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Username"
          aria-describedby="unhashed_password"
          name="unhashed_password"
          required>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Role</span>

        <div class="form-check">
          <label for="dev" class="form-check-label">Developer</label>
          <input
            type="radio"
            name="permissions"
            id="dev"
            value="dev"
            class="form-check-input"></div>
        <div class="form-check">
          <label for="admin" class="form-check-label">Admin</label>
          <input
            type="radio"
            name="permissions"
            id="admin"
            value="admin"
            class="form-check-input"></div>
        <div class="form-check">
          <label for="prefect" class="form-check-label">Prefect</label>
          <input
            type="radio"
            name="permissions"
            id="prefect"
            value="prefect"
            class="form-check-input"></div>
        <div class="form-check">
          <label for="participant" class="form-check-label">Participant</label>
          <input
            type="radio"
            name="permissions"
            id="participant"
            value="participant"
            class="form-check-input"></div>
      </div>

      <div class="mb-3">
        <div class="cf-turnstile" data-sitekey="{{cft_sitekey}}"></div>
      </div>

      <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
  </div>
</div>


{% include "partials/footer.liquid" %}