{% include "partials/header.liquid" %}

<form method="POST">
  <h2>New Event</h2>

  <div class="mb-3">
    <label for="name" class="form-label">Event Name:</label>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control">
  </div>
  <div class="mb-3">
    <label for="date" class="form-label">Date/Time:</label>
    <input
      type="datetime-local"
      id="date"
      name="date"
      class="form-control">
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input
      type="text"
      id="location"
      name="location"
      class="form-control">
  </div>
  <div class="mb-3">
    <label for="teacher" class="form-label">Teacher:</label>
    <input
      type="text"
      id="teacher"
      name="teacher"
      class="form-control">
  </div>
  <div class="mb-3">
    <label for="info" class="form-label">Other Information:</label>
    <input
      type="textarea"
      id="info"
      name="info"
      class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Add new Event.</button>
</form>


{% include "partials/footer.liquid" %}