{% include "partials/header.liquid" %}

{% if auth.permissions["import_csv"] %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form
            method="post"
            enctype="multipart/form-data"
            action="/import_events_from_csv">
            <div class="mb-3">
              <label for="events" class="form-label">Add Events CSV:</label>
              <input
                type="file"
                name="events"
                id="events"
                class="form-control"
                accept="text/csv"
                required>

            </div>
            <button type="submit" class="btn btn-primary">Import Events CSV.</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form
            method="post"
            enctype="multipart/form-data"
            action="/import_people_from_csv">
            <div class="mb-3">
              <label for="people" class="form-label">Add People CSV:</label>
              <input
                type="file"
                name="people"
                id="people"
                class="form-control"
                accept="text/csv"
                required>

            </div>
            <button type="submit" class="btn btn-primary">Import People CSV.</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<br>
{% if auth.permissions["export_csv"] %}
  <div class="row text-center">
    <div class="col">
      <a href="/csv_events" class="btn btn-primary">Get Events as CSV.</a>
    </div>
    <div class="col">
      <a href="/csv_people" class="btn btn-primary">Get People as CSV.</a>
    </div>
  </div>
{% endif %}