{% include "partials/header.liquid" %}

<h1>Login</h1>

<div class="card">
  <div class="card-body">
    <form action="/login" method="POST">
      <div class="input-group mb-3">
        <span class="input-group-text" id="username">Username</span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="username"
          name="username">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="unhashed_password">Password</span>
        <input
          type="password"
          class="form-control"
          placeholder="Username"
          aria-label="Password"
          aria-describedby="unhashed_password"
          name="unhashed_password">
      </div>
      <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
  </div>
</div>

{% include "partials/footer.liquid" %}